@model SoftwareEngineeringP1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<head>
    <style>
        #banner {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 200px;
            z-index: -1;
        }
    </style>
    <script type="text/javascript">
        var picPaths = ['/Images/land-sea-banner.jpg', '/Images/Sydney_banner.jpg', '/Images/Alaska_banner.jpg', '/Images/Spain.jpg', '/Images/Vilnius_old_town_banner.jpg'];
            var curPic = -1;
            //preload the images for smooth animation
            var imgO = new Array();
            for(i=0; i < picPaths.length; i++) {
                imgO[i] = new Image();
                imgO[i].src = picPaths[i];
            }

            function swapImage() {
                curPic = (++curPic > picPaths.length-1)? 0 : curPic;
                imgCont.src = imgO[curPic].src;
                setTimeout(swapImage,4000);
            }

            window.onload=function() {
                imgCont = document.getElementById('banner');
                swapImage();
            }
    </script>

</head>
<body>
    <img id="banner" src="" alt="Banner Img" />
</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    <div class="col-md-6">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <section id="socialLoginForm">
            <img src="~/Images/Penguin-White.JPG" width="313" height="422" />
        </section>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
